      body {
        font: 90% Verdana, Arial;
      }

      h1 {
        margin: 0px;
        font: 200% Tahoma, Arial;
      }

      hr {
        width: 80%;
        margin: 0px;
        text-align: left;
        color: #aaa;
      }

      .credits {
        font-size: 60%;
        font-weight: normal;
      }